body {
  background: #fcf8e3;
  color: #333;
  margin: 0;
  padding:20px;
}

.quiz-container {
  max-width: 800px;
  margin: auto;
  background: #fffef3;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #152c6e;
  font-size: 2.2rem;
    margin-bottom: 20px;
}
p{
    text-align: center;
}
.question {
  margin-bottom: 20px;
  padding: 16px;
  background: rgba(47, 143, 227, 0.3);
  border-left: 6px solid #305fe0;
  border-radius: 6px;
}

.question p {
    text-align: left;
  margin-bottom:8px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;;
  padding-left: 10px;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 8px;
}

.submit-box {
  text-align: center;
  margin-top: 32px;
}

button {
  padding: 10px 30px;
  background-color: #a1a3f7;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}