body {

  font-family: 'Segoe UI', sans-serif;

  background: #3b2f2f; 

  color: #f5f5dc;      

  margin: 0;

  padding: 0;

}



.header {

  background: linear-gradient(to right, #a83c1e, #d2691e);

  color: #fff5e1;

  text-align: center;

  padding: 2rem 1rem;

  box-shadow: 0 4px 12px rgba(210, 105, 30, 0.8);

}



.header h1 {

  margin: 0;

  font-size: 2.5rem;

  color: #141310; 

}



.header p {

  font-size: 1.1rem;

  opacity: 0.95;

  color: #0f0e0e; 

}



.section {

  background: #faf7f7; 

  padding: 2rem;

  margin: 1.5rem;

  border-radius: 10px;

  box-shadow: 0 2px 6px rgba(255,87, 34, 0.9);

  color: #090806;

}



.landmark {

  background: #db6319; 

  padding: 1rem;

  margin-bottom: 1rem;

  border-left: 6px solid #7b4933; 

  border-radius: 6px;

  color: #12120e;

}



.Activity {

  list-style: none;

  padding-left: 0;

  /* background: #5c4033; */

  margin: 0.5rem 0;

  padding: 0.8rem;

  border-radius: 6px;

  color: #ffffff;

}



a {

  color: #ffdd99;

  text-decoration: underline;

}



.activity {

  text-align: center;

  padding: 10px 50px;

}



.b {

  background-color: rgb(24, 186, 32);

  color: #fffaf0;

  padding: 12px 20px;

  border: none;

  font-weight: bold;

  font-size: 1rem;

  border-radius: 10px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  cursor: pointer;

}